
.edit-stakeholder-container{
    width: 100%;
    max-width: 1200px;
    height: 90vh; // Fixed height instead of max-height
    background: var(--background);
    border: 1px solid var(--lightborder);
    border-radius: 25px;
    position: relative;
    padding:5px;
    box-sizing: border-box;
    .edit-stakeholder{
        display: flex;
        flex-direction: column;
        width:100%;
        height:100%;
        border: 1px solid var(--lighterborder);
        border-radius: 21px;
        box-sizing: border-box;
        padding:20px;
        box-sizing: border-box;
        h2{
            margin:0;
            margin-bottom:5px;
        }
    }
}